.cart-container{
     position: sticky;
    top: 0; 
    padding-left: 100px;
    /* display: flex;  */
    justify-content: center;
    align-items: center; 
    
}

.cart{
     /* display: flex;  */
     justify-content: center;
     align-items: center; 
     
}

.cart img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    clip-path: circle()
           
}

.car-text{
    margin-bottom:20px ;
}

