.cart-container{
     position: sticky;
    top: 0; 
    padding-left: 100px;
    
}

.cart{
     
     justify-content: center;
     align-items: center; 
     
}

.cart img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    clip-path: circle()
           
}


@media screen and (max-width:500px){
    .cart-container{
       padding-left: 0; 
       text-align: center;
   }    
}

@media screen and (min-width:501px) and (max-width:768px){
    .cart-container{   
        padding-left: 0;
        text-align: center; 
    }
 }
